body {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center
}

h1 { 
    font-size: 65px;
    color: #8e5dff
}

a { 
    display: block;
    padding-bottom: 10px; 
}